<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>slave</name>
  <description></description>
  <remoteFS>/home/ec2-user/jenkins</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.31.0">
    <host>3.17.36.31</host>
    <port>22</port>
    <credentialsId>7a9919bb-c852-45ff-9c50-6469b7c7264f</credentialsId>
    <launchTimeoutSeconds>210</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.ManuallyProvidedKeyVerificationStrategy">
      <key>
        <algorithm>ssh-rsa</algorithm>
        <key>AAAAB3NzaC1yc2EAAAADAQABAAABAQDTNwrMFNnYZGdsXd7XABROZO/RRq9b6S+QL9rvUbSuvMGL
CbIFEswcKpxPgW64clH5t/a7BfTtzccZCkxvMN1ODkgW1ECgxFze7Ixk953oZHHSGEg4LXR/ZSgj
JZ2xnXOFeetfQbPR6Ddn9wq3e2/MZ2bVfeh6S4NJ8EiUsaeNu7TXiocFBD5fLjVAl0h+Rz+MLVeD
9g3DOYSLdZ3QYJ6jShhB+4g2S0/SoMJLcVk3DgVukZymcFtxrkjZYifKHUpw8aGSMgypQXNiOx+a
s697B84brR/CFsbDkBlCsoDsG2jYv6I3/sdhGdXeKZwUAfOFbXnB0hKfmwGxkEk5IIs1</key>
      </key>
    </sshHostKeyVerificationStrategy>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label></label>
  <nodeProperties/>
</slave>